@model Zavrsni_Rad.Models.LecturerPerson

@{
    ViewBag.Title = "Novi predavač";
}

<h2>Dodavanje novog predavača</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>LecturerPerson</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("Title", new List<SelectListItem>
                   {
                       new SelectListItem {Text = "redoviti prof. dr. Sc", Value = "redoviti prof. dr. Sc" },
                       new SelectListItem {Text = "izvanredan prof. dr. Sc", Value = "izvanredan prof. dr. Sc" },
                       new SelectListItem {Text = "doc. dr. sc ", Value = "doc. dr. sc " },
                       new SelectListItem {Text = "viši asistent", Value = "viši asistent" },
                       new SelectListItem {Text = "znanstveni asistent", Value = "znanstveni asistent" },
                       new SelectListItem {Text = "znanstveni novak", Value = "znanstveni novak" },
                       new SelectListItem {Text = "vanjski suradnik", Value = "vanjski suradnik" },
                       new SelectListItem {Text = "viši predavač", Value = "viši predavač" }
                   }, "Odaberite titulu", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na listu predavača", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
