@model Zavrsni_Rad.Models.Lectures

@{
    ViewBag.Title = "Obrisati";
}

<h2>Obrisati predavanje</h2>

<h3>Da li ste sigurni da želite obrisati?</h3>
<div>
    @*<h4>Lectures</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LectureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturerPerson.LecturerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturerPerson.Title)
            @Html.DisplayFor(model => model.LecturerPerson.Name)
            @Html.DisplayFor(model => model.LecturerPerson.Surname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisati" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na listu predavanja", "Index")
        </div>
    }
</div>
