@model IEnumerable<Zavrsni_Rad.Models.Lectures>

@{
    ViewBag.Title = "Predavanja";
}

<h2>Predavanja</h2>

<p>
    @Html.ActionLink("Dodaj predavanje", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LectureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LectureStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LectureEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LectureText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LecturerPerson.LecturerID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LectureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LectureStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LectureEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LectureText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LecturerPerson.Title)
            @Html.DisplayFor(modelItem => item.LecturerPerson.Name)
            @Html.DisplayFor(modelItem => item.LecturerPerson.Surname)
        </td>
        <td>
            @Html.ActionLink("Urediti", "Edit", new { id=item.LecturesID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.LecturesID }) |
            @Html.ActionLink("Obrisati", "Delete", new { id=item.LecturesID })
        </td>
    </tr>
}

</table>
